.card--learning {
  box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1), 0 3px 1px 0 rgba(20, 23, 28, 0.1);
  transition: all 100ms linear;
}

.card--learning:hover {
  box-shadow: 0 2px 8px 2px rgba(20, 23, 28, 0.15);
}

.card--learning:before {
  content: none;
}

.card--learning:after {
  content: none;
}

.card__image {
  overflow: inherit;
}

.card__image .course-image {
  transition: opacity linear 100ms;
  box-shadow: 0 1px 0 0 rgba(232, 233, 235, 0.5);
  -webkit-filter: sepia(0.1) grayscale(0.1) saturate(0.8);
  filter: sepia(0.1) grayscale(0.1) saturate(0.8);
}

a:hover .card__image .course-image {
  opacity: 0.8;
}

.card--learning__details {
  border-top: 1px solid #e8e9eb;
}

.card__details {
  padding: 12px;
  height: 66px;
}

.impr__name {
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.2px;
  font-size: 14px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.impr__instructor {
  color: #73726c;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 4px;
  font-size: 12px;
}

span[class^="leave-rating--helper-text"] {
  font-size: 10px;
  white-space: nowrap;
}

.card__thumb-overlay {
  position: absolute;
  display: inline-block;
  font-size: 10px;
  font-weight: 700;
  margin: 4px;
  padding: 2px 4px;
  border-radius: 2px;
  transition: opacity linear 100ms;
}

.card__course-runtime {
  bottom: 0;
  right: 0;
  background-color: rgba(20, 30, 46, 0.75);
  color: #ffffff;
}

.impr__progress-bar~.card__course-runtime {
  bottom: 4px;
}

.card__course-locale {
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1);
  color: #29303b;
  font-weight: 600;
}

.play-button-trigger .hover-hide {
  opacity: 1;
}

.play-button-trigger .hover-show {
  opacity: 0;
}

.play-button-trigger:hover .hover-hide {
  opacity: 0;
}

.play-button-trigger:hover .hover-show {
  opacity: 1;
}

.impr__progress-bar {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 5px;
  background: rgba(20, 30, 46, 0.75);
}

.impr__progress-bar .progress__bar {
  background: #69c1d0 !important;
}

.card__custom {
  font-size: 12px;
  color: #686f7a;
  height: 85px;
}

.impr__rating {
  padding: 0 12px;
  height: 48px;
}

.impr__rating-strip {
  height: 5px;
}

.impr__stats {
  font-weight: 500;
  padding: 5px 12px;
  line-height: 1.7;
  display: flex;
}

.impr__stats>div {
  display: inline-block;
  background: #f7f8fa;
  padding: 0 5px;
  margin-right: 5px;
  border-radius: 2px;
  border: 1px solid #e7e7e8;
  cursor: default;
}

.impr__stats .udi {
  opacity: 0.75;
  vertical-align: middle;
}

.impr__stats .udi:not(:last-child) {
  margin-right: 4px;
}

.impr__star-own {
  font-size: 16px;
  margin-right: 2px;
}

.card__stars {
  display: inline-block;
  width: 7rem;
  height: 1.6rem;
  vertical-align: text-bottom;
}

.card__star--bordered {
  stroke: #eb8a2f;
}

.card__star--filled {
  fill: #eb8a2f;
}

.card__rating-text {
  font-weight: 700;
  color: #505763;
  margin-left: 2px;
  margin-right: 6px;
  font-size: 14px;
}

.impr__icon {
  width: 12px;
  height: 15px;
  fill: currentColor;
  vertical-align: text-top;
  margin-right: 4px;
  opacity: 0.75;
}

.card__nodata {
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 75px;
  margin-top: 10px;
  padding: 12px;
  background: #fbf4f4;
  color: #521822;
}

.impr__rating-all {
  height: 20px;
}

.impr__rating-btn {
  position: relative;
  height: 20px;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: flex-end;
}

.impr__rating-btn>.impr__rating-own {
  position: absolute;
}

.impr__rating-btn.is-rated>span {
  opacity: 0;
}

.impr__rating-btn.is-rated:hover>span {
  opacity: 1;
}

.impr__rating-btn.is-rated:hover>.impr__rating-own {
  opacity: 0;
}

.impr__tooltip {
  display: inline;
  position: relative;
}

.impr__tooltip:hover:after {
  display: flex;
  justify-content: center;
  background: #4f5662;
  border-radius: 3px;
  color: #fff;
  content: attr(data-tooltip);
  margin: 4px 0 0 -50%;
  font-size: 11px;
  padding: 2px 6px;
  position: absolute;
  z-index: 10;
  white-space: pre;
}

.impr__tooltip:hover:before {
  border: solid;
  border-color: #4f5662 transparent;
  border-width: 0px 4px 6px 4px;
  content: "";
  left: 50%;
  margin-left: -4px;
  bottom: -4px;
  position: absolute;
}

.impr__stars-ct {
  margin: 0;
  padding: 4px 0 0;
  display: flex;
}

.impr__stars {
  font-size: 13px;
  display: inline-block;
  white-space: nowrap;
}

.impr__stars div {
  display: inline-block;
  position: relative;
}

.impr__star {
  top: 0;
  left: 0;
}

.impr__star:before {
  font-family: udemyicons;
  display: inline-block;
  position: relative;
  line-height: 1;
}

.impr__star--unfilled {
  position: relative;
}

.impr__star--unfilled:before {
  z-index: 0;
  content: "\F005";
  color: #dedfe0;
}

.impr__star--filled {
  position: absolute;
  overflow: hidden;
}

.impr__star--filled:before {
  z-index: 1;
  content: "\F005";
  color: #f4c150;
}

.impr__review {
  margin-left: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.impr__review-stat {
  font-weight: 700;
  font-size: 13px;
  color: #505763;
}

.impr__review-count {
  font-weight: 400;
  color: #686f7a;
  margin-left: 2px;
}