.improved-course-card--container {
  border: 1px solid #d1d7dc;
}

.improved-course-card--container:hover {
  background-color: #f7f9fa;
}

.improved-course-card--container .improved-course-card--image-container {
  border-width: 0 0 1px 0;
}

.improved-course-card--main-content {
  padding: 0 6px;
  min-height: 68px;
}

.card--learning__details {
  border-top: 1px solid #e8e9eb;
}

.card__details {
  padding: 12px;
  height: 66px;
  white-space: initial;
}

.improved-course-card--course-title {
  font-size: 1.4rem !important;
}

span[class^='leave-rating--helper-text'] {
  font-size: 10px;
  white-space: nowrap;
}

.card__thumb-overlay {
  position: absolute;
  display: inline-block;
  font-size: 10px;
  font-weight: 700;
  margin: 4px;
  padding: 2px 4px;
  border-radius: 2px;
  transition: opacity linear 100ms;
}

.card__course-link {
  font-size: 1.4rem;
}

.card__course-runtime {
  bottom: 0;
  right: 0;
  background-color: rgba(20, 30, 46, 0.75);
  color: #ffffff;
}

.impr__progress-bar ~ .card__course-runtime {
  bottom: 4px;
}

.card__course-locale {
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1);
  color: #29303b;
  font-weight: 600;
}

.improved-course-card--container .hover-hide {
  opacity: 1;
}

.improved-course-card--container .hover-show {
  opacity: 0;
}

.improved-course-card--container:hover .hover-hide {
  opacity: 0;
}

.improved-course-card--container:hover .hover-show {
  opacity: 1;
}

.impr__progress-bar {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 5px;
  background: rgba(20, 30, 46, 0.75);
}

.impr__progress-bar .progress__bar {
  background: #a435ef !important;
}

.improved-course-card--additional-details {
  width: 100%;
  font-size: 1.2rem;
  color: #464b53;
  height: 82px;
}

.impr__rating .impr__rating-number {
  margin-left: 0.4rem;
  font-size: 1.3rem;
  color: #505763;
}

.impr__rating-count {
  color: #6a6f73;
  margin-left: 0.4rem;
}

.impr__rating {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 6px 6px;
  height: 42px;
}

.impr__rating-strip {
  height: 5px;
}

.impr__stats {
  font-weight: 500;
  padding: 6px;
  line-height: 1.7;
  display: flex;
}

.impr__badge {
  display: inline-flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4px;
  background: #f7f8fa;
  padding: 0 5px;
  margin-right: 5px;
  border-radius: 2px;
  border: 1px solid #e7e7e8;
  cursor: default;
}

.impr__badge .ud-icon {
  width: 1.4rem;
  height: 1.4rem;
  opacity: 0.75;
}

.impr__svg-stars {
  display: block;
  width: 7rem;
  height: 1.6rem;
}

.card__nodata {
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 75px;
  margin-top: 10px;
  padding: 12px;
  background: #fbf4f4;
  color: #521822;
}

.impr__badge:hover:after {
  display: flex;
  justify-content: center;
  background: #4f5662;
  border-radius: 3px;
  color: #fff;
  content: attr(data-tooltip);
  bottom: 24px;
  margin: 0;
  font-size: 11px;
  padding: 2px 6px;
  position: absolute;
  z-index: 10;
  white-space: pre;
}

.impr__badge:hover:before {
  border: solid;
  border-color: #4f5662 transparent;
  content: '';
  left: 50%;
  margin-left: -4px;
  position: absolute;
  top: -4px;
  border-width: 6px 4px 0;
}

.impr__rating-row {
  margin: 0;
  padding: 0;
  display: flex;
}

.impr__star-wrapper {
  display: inline-flex;
  align-items: center;
}
